{{ define "index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Steam Game Stats</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/static/css/sticky-footer.css" rel="stylesheet" type="text/css">
    <link href="/static/css/navbar-top-fixed.css" rel="stylesheet" type="text/css">
</head>
<body>
<header>
<!--{{ template "navbar" }}-->
</header>

<section>
{{ template "urlform" . }}
</section>

<footer>
{{ template "footer" }}
</footer>
</body>
</html>
{{ end }}